<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUIPBD.Properties.Settings.PBDConnectionString" connectionString="Data Source=DESKTOP-ES2NQFA\SQLEXPRESS;Initial Catalog=PBD;Persist Security Info=True;User ID=sa;Password=066z0043"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>